/build/
/build_*_*/

/sdkconfig
/sdkconfig.old

__pycache__/
/*.pyc
/.pytest_cache/

/app_info_*.txt
/size_info_*.txt
/build_summary_*.xml
/pytest_embedded_log/
/dependencies.lock

.vscode/
/*.code-workspace

*.bak
*.swp
*.tmp
*~


.cache
